/* Common CSS Start */
:root{
    --Work-sans: 'Work Sans', sans-serif;
    --space-mono: 'Space Mono', monospace;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a,i{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    background: #2B2B2B;
}
/* Buttons Common CSS Start */
/* Primary Button */
.primary_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 72px;
    background: #A259FF;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 0.3s;
}
.primary_btn:hover{
    background: transparent;
    border: 2px solid #A259FF;
    border-radius: 20px;
}
.primary_btn a{
    display: flex;
    gap: 12px;
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF !important;
}
.primary_btn a img{
    width: 20px;
    height: 20px;
}
/* Secondary Button */
.secondary_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 0.3s;
}
.secondary_btn:hover{
    background: transparent;
    border: 2px solid #A259FF;
    border-radius: 20px;
}
.secondary_btn a{
    display: flex;
    gap: 12px;
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF !important;
}
.secondary_btn a img{
    width: 20px;
    height: 20px;
}
/* Tertiary Button */
.tartiary_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 46px;
    background: #A259FF;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 0.3s;
}
.tartiary_btn:hover{
    background: transparent;
    border: 2px solid #A259FF;
    border-radius: 20px;
}
.tartiary_btn a{
    display: flex;
    gap: 12px;
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF !important;
}
.tartiary_btn a img{
    width: 20px;
    height: 20px;
}
/* Buttons Common CSS End */
section{
    padding: 80px 0;
}
/* Common CSS End */
/* Header Section Start */
header{
    height: 100vh;
    position: relative;
}
/* Navigation Part Start */
.navbar{
    padding: 20px 50px;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}
nav .nav_logo{
    width: 243.41px;
    height: 32px;
}
nav ul{
    align-items: center;
    gap: 10px;
}
nav ul li a{
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 12px 20px !important;
    border-radius: 20px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFFFFF;
}
/* Navigation Part End */
/* Hero Part Start */
.hero{
    height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .hero_text h1{
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero .hero_text p{
    margin: 20px 0 40px !important;
    font-family: var(--Work-sans);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero .hero_text .hero_counter{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.hero .hero_text .hero_counter div{
    width: 150px;
    height: 77px;
}
.hero .hero_text .hero_counter div h2{
    font-family: var(--space-mono);
    font-weight: 700;
    font-size: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero .hero_text .hero_counter div p{
    font-family: var(--Work-sans);
    font-weight: 400;
    font-size: 23.99px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero .hero_card{
    width: 510px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
}
.hero .hero_card .hero_image{
    width: 510px;
    height: 401px;
}
.hero .hero_card .card_text{
    background: #3B3B3B;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px 20px;
}
.hero .hero_card .card_text h3{
    font-family: var(--Work-sans);
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero .hero_card .card_text p{
    font-family: var(--Work-sans);
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.hero .hero_card .card_text p img{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
/* Hero Part End */
/* Header Section End */
/* Header Section Start */
/* Header Section End */
/* Header Section Start */
/* Header Section End */
/* Header Section Start */
/* Header Section End */
/* Header Section Start */
/* Header Section End */
/* Header Section Start */
/* Header Section End */